body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Helvetica, sans-serif;
}

.center-text {
  text-align: center;
}

.button {
  border: 1px solid white;
  border-radius: 3px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  padding: 5px 25px;
}

.positive-button {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #00ff77;
  border-color: #00ff77;
  transition: 0.2s all ease-in;
}

.positive-button:hover {
  color: #ffffff;
  background-color: rgba(0, 255, 119, 0.75);
  border-color: transparent;
}

.browserless-img {
  padding-top: 8px;
}

.background-image {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.background-image .hero {
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  float: right;
  position: fixed;
  right: 0;
}

.content-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  color: #ffffff;
  margin-top: 2vh;
}

.content-box.centered {
  text-align: center;
}

.content-box.carousel .header {
  margin-bottom: 0;
}

.container {
  width: 600px;
  height: 98vh;
  position: relative;
  margin: 0 auto;
}

.container .header {
  margin-bottom: 20px;
}
.container .header .title {
  font-size: 42px;
  font-weight: bold;
  display: inline;
}
.container .header .social-icons {
  font-size: 26px;
  display: inline;
  margin-left: 20%;
  vertical-align: 2px;
}

.container .header .social-icons .fa {
  margin: 0 3px;
  padding: 4px 5px;
  border-radius: 5px;
  transition: 0.2s all ease-in;
}

.container .header .social-icons .fa:hover {
  color: #00ff77;
  border-color: #00ff77;
}

p {
  color: #ffffff;
  font-size: 20px;
  margin: 2px 0px;
  font-weight: 300;
}

a {
  color: #ffffff;
  text-decoration: underline;
  transition: 0.2s all ease-in;
}

a:visited {
  color: #aaaaaa;
}

a:hover {
  color: #00ff77;
}

.carousel-item.last-item {
  width: 150px;
  height: 200px;
}

.carousel-item.last-item .carousel-image-container {
  text-align: center;
  line-height: 235px;
}

.carousel-item .carousel-image-container {
  max-width: 250px;
  height: 200px;
}

.carousel-item .carousel-image-container img {
  margin: auto;
}

.carousel-item .carousel-caption {
  font-size: 18px;
  text-align: center;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  height: 180px;
  width: 22px;
  top: 0;
  line-height: 190px;
  transition: 0.7s opacity ease-in, 0.3s color ease-in;
  background: rgba(0,0,0,0.4);
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
  text-align: center;
}

.owl-prev.disabled,
.owl-next.disabled {
  opacity: 0;
}

.owl-prev:hover,
.owl-next:hover {
  color: #00ff77;
}

@media only screen and (max-width: 768px) {
  .hero {
    min-width: 1440px;
    min-height: 100%;
    min-width: 100%;
    float: right;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .content-box {
    font-size: 24px;
  }
}

@media only screen and (max-width: 481px) {

  .content-box {
    width: 250px;
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
}
